body {
    background: #EEEEEE;
}
.container {
    background: #ffffff;
    padding-bottom: 20px;
}
h1 {
    padding: 10px;
    font-weight: 300;
}

.sub-title {
    padding: 10px;
    font-weight: 200;
}

.margin-10 {
    margin: 10px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}